/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom variables */
:root{
    --primary: black;
    --secondary: white;
    --alternative: #4F1282;
    --awesome: #B2ADB6;
    --borderColor: #4F1282;
    --spanColor: #D671FF;
    --hoverColor: #5E2C89;
}

/* Navbar */
img[alt='logo']{
    width: 10rem;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
    transition: all .5s;

    &:hover{
        transform: scale(1.1);
    }
}

.nav-link{
    color: var(--secondary);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.nav-link:hover{
    color: var(--spanColor);
}

:is(.nav-link.active){
    color: var(--spanColor) !important;
}

.navbar-scrolled {
    z-index: 10; /* Keep a high z-index when scrolled */
    background-color: var(--alternative);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.80);
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10 !important; /* Ensure navbar is above other elements */
    transition: all 0.5s;
}
  
img[alt="elevateImage"]{
    width: 28rem;
    height: 48rem;
}
/* ---------------------------------------------           Home Page       ---------------------------------------------------------- */
/* Banner Section */
.banner-gradient{
    background-image: linear-gradient(80deg, #4F1282, #6D13BB);
    background-size: cover;
    background-position: center; 
    overflow: hidden;
    font-family: 'poppins';
    z-index: 0;
}

.homeContent{
    margin: 16rem auto 8rem;
    position: relative;
    z-index: 0;
}

.homeContent h2{
    width: 52vw;
    margin: auto;
    z-index: 2;
    position: relative;
    color: var(--secondary);
    padding-top: 1rem;
    font-size: 1.8rem;
    text-align: center;
}

.project-title{
    z-index: 2;
    width: 48vw;
    padding: 2rem 12rem 2rem 8rem;
    margin: auto;
    position: relative;
    border: 1px solid var(--secondary);
}

.btnBanner{
    z-index: 2;
    width: 10vw;
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    text-align: center;
    position: relative;
    color: var(--secondary);
    border: 1px solid var(--awesome);
    border-radius: 0.3rem;
}

.btnBanner:hover{
    background-color: var(--hoverColor);
}

.centerButton{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.project-title h1{
    font-size: 7rem;
    color: var(--secondary);
    font-weight: 600;
}

.title-span{
    color: var(--spanColor);
    font-weight: 600;
}

.up{
    height: 800px;
    width: 800px;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #4F1282, #8D5499);
    filter: blur(80px);
    animation: down 40s infinite;
    z-index: 0;
}

.down{
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #222222,  #4F1282);
    filter: blur(80px);
    animation: up 30s infinite;
    z-index: 0;
}
.left{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #4F1282, #D671FF);
    filter: blur(80px);
    animation: left 30s 1s infinite;
    z-index: 0;
}
.right{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #ababab, #4F1282);
    filter: blur(80px);
    animation: right 40s .5s infinite;
    z-index: 0;
}

@keyframes down{
    0%, 100%{
        top: -100px;
    }
    70%{
        top: 700px;
    }
}
@keyframes up{
    0%, 100%{
        bottom: -100px;
    }
    70%{
        bottom: 700px;
    }
}
@keyframes left{
    0%, 100%{
        left: -100px;
    }
    70%{
        left: 1300px;
    }
}
@keyframes right{
    0%, 100%{
        right: -100px;
    }
    70%{
        right: 1300px;
    }
}

/* Jobs Section */
.jobs{
    display: flex;
    justify-content: space-around;
}

.jobsText{
    width: 44vw;
    margin-top: 11rem;
    margin-bottom: 2rem;
}

.jobsText h1{
    font-family: "Montserrat", sans-serif;
    color: var(--primary);
    font-weight: 600;
}

.jobsText p{
    font-size: 1.3rem;
    font-family: 'Poppins';
    margin-top: 2rem;
    color: var(--primary);
}

.button-top{
    margin-top: 2rem;
}

.jobsImage{
    width: 36vw;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

/*---------------------------------------- Home Cards Section  --------------------------------------------------------------*/

#cards-home .card{
    width: 20rem;
    padding: 0;
}

#cards-home {
    display: flex;
    justify-content: space-evenly;
    gap: 6rem;
    margin-top: 6rem;
}

.btnGetStarted{
    width: 10vw;
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    text-align: center;
    color: var(--secondary);
    border: 1px solid var(--awesome);
    border-radius: 0.3rem;
}

.btnGetStarted:hover{
    background-color: var(--hoverColor);
}

/* Card Overlay */
#cards-home .card {
    overflow: hidden;
    font-family: "Poppins",sans-serif;
}

#cards-home .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    color: white;
    padding: 0.5rem;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

#cards-home .card-body {
    z-index: 1;
    text-align: left;
}

#cards-home .card-overlay:hover {
    background: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

#cards-home.card-title, #cards-home.card-text, .btn {
    color: white;
}

#cards-home .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#cards-home .card-text {
    font-size: 1rem;
    font-weight: 500;
}

.btn-primary {
    background-color: var(--alternative);
    border: none;
    padding: 0.4rem 1rem;
    border: 1px solid var(--secondary);
}

.btn-primary:hover {
    background-color: var(--hoverColor);
    border: 1px solid var(--secondary);
}

#cards-home .card-img-top{
    width: 25rem;
    height: 28rem;
}

.jobsText{
    width: 44vw;
    margin-top: 11rem;
    margin-bottom: 2rem;
}

.jobsText h1{
    font-family: "Montserrat", sans-serif;
    color: var(--primary);
    font-weight: 600;
}

.jobsText p{
    font-size: 1.3rem;
    font-family: 'Poppins';
    margin-top: 2rem;
    color: var(--primary);
}

.alignmentElevateText{
    margin-top: 16rem;
}

#interestedFields h1{
    font-family: "Poppins",sans-serif;
    color: var(--primary);
    padding-left: 5rem;
    padding-top: 3rem;
    font-family: "Poppins",sans-serif;
}

.cardsInterested .card{
    width: 20rem;
    font-family: "Poppins",sans-serif;
}

.cardsInterested {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    gap: 6rem;
    font-family: "Poppins",sans-serif;
}

#footer{
    margin-top: 9rem;
}

.footer-gradient{
    background-image: linear-gradient(80deg, #4F1282, #6D13BB);
    background-size: cover;
    background-position: center; 
    overflow: hidden;
    font-family: 'poppins';
    z-index: 0;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.leftSection{
    width: 40rem;
}

.leftSection h2{
    color: var(--secondary);
}

.rightSection{
    width: 40rem;
}

.input-container {
    position: relative;
    width: 20vw;
    margin-bottom: 1rem;
}

.input-container [type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: none; 
    border-bottom: 1px solid var(--secondary);
    font-size: 1rem;
    outline: none;
   background-color: var(--bgHeaderFooter);
   font-weight: 500;
   color: var(--secondary);
   font-family: "Poppins", sans-serif;
}

#footerEmail::placeholder{
    color: var(--secondary);
}

.form-alignment{
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.btnSubscribe{
    border: none;
    width: 1rem;
    padding: 0.2rem 1rem;
    background-color: transparent;
    margin-top: -2rem;
}

#footer_error{
    color: var(--secondary);
}

.social-icons{
    color: var(--secondary);
    width: 8rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.rightSection{
    display: flex;
    justify-content: space-between;
    color: var(--secondary);
}

.rightSection p:hover{
    color: var(--spanColor);
}

.rightSection a{
    text-decoration: none;
    color: var(--secondary);
}

/*---------------------------------------- Media query --------------------------------------------------------------*/
@media (width < 999px)
{ 
    /* Banner Section */
    .homeContent h2{
        width: 52vw;
        margin: auto;
        font-size: 1rem;
        text-align: center;
    }
    
    .project-title{
        width: 68vw;
        padding: 1rem 2rem 1rem 2rem;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .project-title h1{
        margin: auto;
        font-size: 2.5rem;
    }

    .homeContent h2{
        width: 69vw;
    }

    .homeContent{
        margin: 12rem auto 12rem;
    }

    .homeContent .btnBanner{
        width: 40vw;
        padding: 0.5rem 1.3rem;
    }

    .offcanvas{
        background-color: var(--alternative);
    }

    .offcanvas-body{
        margin-left: 1rem;
    }

    /* Jobs Section */
}

@media (width > 1200px)
{

}